<div id="container_BO_my_skills">
    <div class="action">
        <h1 class="title">All projects</h1>
        <button>Add project</button>
    </div>
    <div class="statistics">
        <ul class="statistic">
        <li><span class="number">16</span> projects</li>|
        <li><span class="number">6</span> in progress</li>|
        <li><span class="number">10</span> done</li>
        </ul>
        <ul class="filters">
            <select name="filter" id="filter">
                <option value="all">All projects</option>
                <option value="encours">En cours</option>
                <option value="finis">Done</option>
            </select>
            <input type="search" name="project search" id="projectsearch" placeholder="Search a project">
        </ul>
    </div>
    <div class="list_of_my_skills">
        <% list_of_my_projects.forEach(element => { %>
            <ul>
                <li>
                    <img src="<%- element.skill_image_logo_file_url %>" alt="">
                </li>
                <li style="text-transform: uppercase;"> <%- element.name %> </li>
                <li> <%- element.knowledge_level %> </li>
                <% if( element.known_library == "" ){ %>    
                <li> <%- "-----" %> </li>
                <% }else{ %>
                <li style="display: flex; text-wrap: wrap;"> <%- element.known_library %> </li>
                <% } %>
                <li class="item_action" style="display: flex; justify-content: flex-end; align-items: center;">
                    Delete  ||  Edit  ||  <span style="display: flex; align-items: center;"> <img style="width: 20px;" src="assets/icon/icons8-info-pastel/icons8-info-100.png" alt=""> </span>
                </li>
            </ul>
            <% }); %>
    </div>
</div>